/GestiNotes2.0/nbproject
/GestiNotes2.0/dist/
/GestiNotes2.0/build/
/GestiNotes2.0/build.xml
/TestGithub/nbproject/private/
/Threads/nbproject/private/
/Threads/build/
/GestiNotes2.0/GestiNotes2.0/build/
/GestiNotes2.0/GestiNotes2.0/dist/
/GestiNotes2.0/GestiNotes2.0/nbproject/private/